/* dark-mode.css */
/* This is styling for the dark theme */
/* Note:- use the prefix body.dark to handle element styling in dark mode. */

body.dark {
    background: #000000;
    color: #fff;
  }
  
  body.dark header {
    background: #000000;
    color: #fff;
  }
  
  body.dark #darkmode {
    background: #fff;
    color: #000000;
  }
  
  body.dark #command-line {
    background: #ffffff;
    color: rgb(255, 0, 0);
  }
  
  body.dark #command-line-input {
    border-top: 1px solid rgb(9, 9, 9);
    background: #ffffff;
    color: #0004ff;
  }
  
  body.dark #links {
    color: #ef00fc;
  }
  
  body.dark #links:hover {
    color: rgb(0, 0, 0);
  }
  
  body.dark #titleCmd {
    color: rgb(111, 0, 255);
  }
  
  body.dark #command-line-input::placeholder {
    color: #0004ff;
  }
  
  body.dark footer {
    background: #000000;
    color: #fff;
  }
  

body.dark #BB{
  background-color: rgba(76, 3, 244, 0.2);
  border: 1.5px solid rgba(76, 3, 244, 1);
  color: rgba(76, 3, 244, 1);
}

body.dark #BB:hover{
  background-color: rgba(240, 31, 174, 0.2);
  border: 1.5px solid rgba(240, 31, 174, 1);
  color: rgba(240, 31, 174, 1);
}


body.dark .project, 
body.dark .about, 
body.dark .contact {

  background: transparent;
  color: rgb(29, 29, 29);
  
}


body.dark .project h2, 
body.dark .about h2, 
body.dark .contact h2 {
  color: orange
}
body.dark .project img,  
body.dark .contact img {
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Black box shadow with 50% opacity */
}

body.dark .ascii-container {
    background: #000;
  }
 body.dark .ascii-container,
  body.dark .ascii-container > * {
  background: linear-gradient(to right, rgb(129, 4, 255), rgb(255, 1, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }


  body.dark .project-buttons a {
    background-color: transparent;
    border: 1.5px solid rgb(0, 0, 0);
    color: rgb(255, 0, 0);
  }
  
  body.dark .project-buttons a:hover {
    border: 1.5px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
  }


  body.dark .contact-details{
    text-align: center;
  }
  body.dark .contact-details h2{
      color: rgb(34, 0, 255);
  }



  /* heart icon styles */
body.dark .heart-icon {
  width: 24px;
  height: 24px;
  transition: fill 0.3s ease;
  fill: #fff; /* Default fill for heart icon in dark mode */
}

body.dark .heart-icon.liked .heart {
  fill: rgb(255, 0, 43); /* Fill color when liked in dark mode */
}

body.dark #likeCounter {
  margin-top: 5px;
  font-size: 14px;
  color: #fff; /* Text color for like counter in dark mode */
}

body.dark .about img {
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Black box shadow with 50% opacity */
}



body.dark .resume {
  color: #010101;
}

body.dark .resume h2, body.dark .resume h3 {
  color: #5c00fc;
}


body.dark #downloadBtn {
  background-color: rgba(255, 0, 0, 0.2);
  border: 1.5px solid rgba(255, 0, 0, 1);
  color: rgba(255, 0, 0, 1);
  transition: background-color 0.3s ease;
}

body.dark #downloadBtn:hover {
  background-color: rgba(0, 255, 30, 0.2);
  border: 1.5px solid rgba(0, 255, 30, 1);
  color: rgba(0, 255, 30, 1);
}


/* Specific SVG icon colors */
body.dark #social-media-links .instagram-icon img {
  filter: invert(100%); /* Invert the colors to make the Instagram icon white in dark mode */
}

body.dark #social-media-links .github-icon img {
  filter: invert(100%); /* Invert the colors to make the GitHub icon white in dark mode */
}

body.dark #social-media-links .linkedin-icon img {
  filter: invert(100%); /* Invert the colors to make the LinkedIn icon white in dark mode */
}

/* Specific SVG icon hover effects */
body.dark #social-media-links .instagram-icon img:hover {
  filter: invert(43%) sepia(66%) saturate(3502%) hue-rotate(316deg) brightness(101%) contrast(99%); /* Pink */
}

body.dark #social-media-links .github-icon img:hover {
  filter: invert(75%) sepia(0%) saturate(0%) hue-rotate(215deg) brightness(85%) contrast(79%);
}

body.dark #social-media-links .linkedin-icon img:hover {
  filter: invert(75%) sepia(10%) saturate(2543%) hue-rotate(185deg) brightness(85%) contrast(87%);
}


.map-container {
  border: 2px solid black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); /* Black box shadow with 50% opacity */
}